@font-face {
    font-family: neu1;
    src: url(/src/assets/Integral_CF.otf);
    font: 700;
}
@font-face {
    font-family: neu2;
    src: url(/src/assets/Satoshi-Regular.otf);
    font-weight: 400;
}
@font-face {
    font-family: neu3;
    src: url(/src/assets/Satoshi-Bold.otf);
    font-weight: 600;
}

/* General reset for padding and margins */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: neu2;
}
.nav-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* padding: 15px 30px; */
    background-color: white;
    /* border-bottom: 1px solid #eaeaea; */
    margin: 20px 40px;
    height: 48px;
    gap: 40px;
    /* background-color: red; */
    /* position: fixed;
    z-index: 500; */
}

/* Logo */
.title {
    font-size: 32px;
    font-weight: bold;
    color: #000000;
    letter-spacing: 1px;
    font-family: neu1;
    margin-top: -8px;
}

/* Navbar links styling */
ul {
    display: flex;
    list-style: none;
    gap: 24px;
    font-size: 16px;
}

ul li{
    text-decoration: none;
    color: black;
    font-size: 16px;
    cursor: pointer;
}

/* Search bar styling */
.search {
    flex-grow: 1;
}

.search input[type="text"] {
    padding: 16px 12px;
    border-radius: 62px;
    border: 1px solid #eaeaea;
    font-size: 16px;
    font-family: neu2;
    background-color: #f5f5f5;
    outline: none;
    width: 563px;
    height: 48px;
    padding-left: 25px;
}

/* Icon styling */
.icons{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
}
.cart img{
    width: 24px;
    height: 24px;
    cursor: pointer;
} 

.personal button{
    color: #000000;
    background-color: #f5f5f5;
    border-radius: 62px;
    border: 1px solid #eaeaea;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.personal button:hover{
    background-color: #F0F0F0;
}

.nav-cart-count{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: red;
    width: 22px;
    height: 22px;
    margin-top: -30px;
    margin-left: -53px;
    font-size: 14px;
    border-radius: 11px;
    color: white;
}

.selected-indicator {
        border: none;
        width: 100%;
        height: 1px;
        border-radius: 10px;
        background-color: #00000070;
        filter: blur(1px);
}

