@font-face {
    font-family: neu1;
    src: url(/src/assets/Integral_CF.otf);
    font: 700;
}
@font-face {
    font-family: neu2;
    src: url(/src/assets/Satoshi-Regular.otf);
    font-weight: 400;
}
@font-face {
    font-family: neu3;
    src: url(/src/assets/Satoshi-Bold.otf);
    font-weight: 600;
}

.container{
    position: -ms-page;
}

.banner1{
    display: flex;
    justify-content: space-between;
    justify-items: center;
    position:relative;
    background-color: #000000;
    color: #FFFFFF;
    width: 90%;
    height: 180px;
    /* top: -360px; */
    margin-left: 5%;
    padding: 36px 64px;
    border-radius: 20px;
  }

  .banner-header{
    font-size: 40px;
    font-family: neu1;
  }

  .banner-inputs{
    height: 108px;
    width: 349px;
  }

  .enter-email input[type="text"]{
    width: 349px;
    padding: 12px 16px;
    height: 48px;
    border-radius: 62px;
    background-color: #FFFFFF;
    border-width: 0;
    font-size: 16px;
    font-family: neu2;
  }

  .subscribe-btn{
    width: 349px;
    /* padding: 12px 16px; */
    height: 48px;
    border-radius: 62px;
    background-color: #FFFFFF;
    border-width: 0;
    margin-top: 10px;
    font-size: 16px;
    font-family: neu2;
    color: #000000;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }

  .subscribe-btn:hover{
    background-color: #fefcfc90;
    color: #FFFFFF;
    border:1px solid #000000;
    transition: background-color 0.3s ease;
  }

  .footer-main{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: green;
    height: 10%;
    position: relative;
    margin-top: -100px;
    height: 70vh;
    z-index: -99;
    background-color: #F0F0F0;
  }

  .banner2{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 95%;
    margin-left: 2.5%;
    height: 40vh;
    margin: 0 4%;
  }
  
  .table1 div{
    margin: 35px 0;
  }

  .table1 .shopp{
    font-size: 33.45px;
    font-family: neu1;
    line-height: auto;
    letter-spacing: 0%;
  }

  .icons{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    width: 148px;
    height: 28px;
  }

  .footer-header{
    font-size: 16px;
    font-family: neu3;
    letter-spacing: 3px;
  }

  .table2 div{
    margin: 19.5px 0;
    color: #00000060;
  }
  .table3 div{
    margin: 19.5px 0;
    color: #00000060;
  }
  .table4 div{
    margin: 19.5px 0;
    color: #00000060;
  }
  .table5 div{
    margin: 19.5px 0;
    color: #00000060;
  }

  .footer-bottom-2{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin:0 5%;
  }

  .table{
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .footer-bottom-con{
    font-size: 14px;
    color: #00000060;
  }
  .footer-bottom{
    background-color: #F0F0F0;
  }

  .container hr{
    /* margin-top: -110px; */
    /* padding-bottom: 15px; */
    color: #00000060;
  }
  